.question-card {
  min-height: 200px;
  padding: 20px;
  border: 1px solid gray;
  margin-top: 100px;
  margin-bottom: 100px;
}

.question-card-inner-wrapper {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-card .answer input {
  padding: 25px;
}

.question-card button {
  margin-top: 10px;
  
  padding: 20px;
  font-size: 30px;
  background-color: green;
  border: none;
  color: white;
}

.score-bar-bar {
  font-size: 25px;
  width: 30%;
}

.score-bar .points {
  color: green;
}

.float-right {
  float: right;
}

.push-down {
  
  &-lg {
    margin-top: 50px;
  }
  
  &-sm {
    margin-top: 12.5px;
  }
}


.curtain-down {
  border: none;
  padding: 21px;
  &.neutral {
    background-color: white;
  }
  
  &.win {
    background-color: lightgreen;
    
    &::after {
      font-size: 5em;
      content: '+1';
    }
  }
  
  &.loss {
    background-color: orange;
    
    &::after {
      font-size: 5em;
      content: ':(';
    }
  }
}

.footer {
    padding: 15px;
    padding-left: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

@media all and (max-width: 700px) {
  .footer #credits {
    display: none;
  }
}